# Environnements virtuels
venv/
.env

# Base de données locale
db.sqlite3

# Fichiers de migration
**/migrations/__pycache__/
**/migrations/*.py[cod]
**/migrations/
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
*.pyo
*.orig

# Fichiers médias et statiques générés
media/
staticfiles/

# VSCode / Mac / autres
.vscode/
.DS_Store
.idea/
