# Python
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
venv/
ENV/
env/
.venv/
.ENV/

# Logs
*.log

# Django
db.sqlite3
/media/
*.pot
*.pyc

# Static files
/staticfiles/
staticfiles/

# Fichiers secrets
.env
*.env

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Tests
coverage.xml
htmlcov/
.tox/

# Fichiers temporaires
*.bak
*.tmp
*.orig

# Node.js (au cas où)
node_modules/
npm-debug.log
yarn-error.log
